<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
<title>MiSTer Main Menu</title>

<div class="tab">
  {% for core in manifest %}
<!--
    <button {% if loop.index==1  %} id="defaultOpen" {% endif %}class="tablinks" onclick="openCity(event, '{{ core }}')"><div class="icons icons-{{ core }}">{{ manifest[core].name }}</div></button>
-->
    <button {% if loop.index==1  %} id="defaultOpen" {% endif %}class="tablinks" onclick="openCity(event, '{{ core }}')">
{% if manifest[core].type=='arcade' %}
         <img width=32px src="/static/images/HakchiMister/arcade/{{ core }}.png">
{% else %}
         <img width=32px src="/static/images/HakchiMister/{{ core }}.png">
{% endif %}
{{ manifest[core].name }}</button>
  {% endfor %}
</div>


  {% for core in manifest %}
      <div id="{{ core }}" class="tabcontent">
      <h3>
{% if manifest[core].type=='arcade' %}
         <img  src="/static/images/HakchiMister/arcade/{{ core }}.png">
{% else %}
         <img  src="/static/images/HakchiMister/{{ core }}.png">
{% endif %}
      {{ manifest[core]['name'] }}</h3>
      <p>{{ manifest[core] }}</p> 
      </div>
  {% endfor %}

<script>
function openCity(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the link that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();

</script>
